
.WordList {
  margin: 80px 0;
  width: 100%;
}

.Word {
  display: flex;
  font-size: 0.8em;
}

.Word__Lang1,
.Word__Lang2 {
  flex: 1;
  padding: 10px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Word__stats {
  flex: 0 0 auto;
  padding: 10px 5px;
}