.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.App__Screen {
  flex: 1;
  overflow: auto;
}

.App__Menu {
  flex: 0 0 50px;
  display: flex;
}

